[submodule "PebbleKit-Android"]
	path = PebbleKit-Android
	url = git@github.com:trogdan/PebbleKit-Android.git
[submodule "locale-api"]
	path = locale-api
	url = git@github.com:trogdan/locale-api.git
[submodule "android-alertify"]
	path = android-alertify
	url = git@github.com:trogdan/android-alertify.git
[submodule "pebble-alertify"]
	path = pebble-alertify
	url = https://github.com/chenybing/pebble-alertify.git
